footer {
  background-color: $Dark-Blue;
  color: $Very-Light-Gray;
  text-align: center;
  @include mq-tablet {
    text-align: left;
  }

  .footer-info {
    @include mq-tablet {
      display: flex;
      justify-content: space-between;
      gap: 150px;
    }
    & > * {
      padding-block: 10px;
    }
    //

    .logo-footer {
      filter: brightness(0.1) invert(1);
    }

    .social-icon {
      display: flex;
      gap: 12px;
      justify-content: center;
      padding-top: 20px;
      cursor: pointer;
    }

    //
    .footer-links {
      & a:hover {
        transition: color 300ms ease;
        color: $Lime-Green;
      }
      opacity: 0.7;
      @include mq-tablet {
        display: flex;
        align-items: center;
        gap: 150px;
      }
      .even {
        display: grid;
        gap: 10px;
      }
    }

    //
    .footer-btn {
      margin-left: auto;
      @include mq-tablet {
        text-align: right;
      }
      & p {
        padding-block: 20px;
      }
    }
  }
}
