.latest-article {
  background-color: $Very-Light-Gray;
  padding: 30px 20px;
  h2 {
    margin-bottom: 30px;
    text-align: center;
    @include mq-tablet {
      text-align: left;
    }
  }
  .article-list {
    @include mq-tablet {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 24px;
    }
  }

  .articles {
    background-color: white;
    & figure img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    & figcaption {
      font-size: 12px;
      padding: 20px 20px 5px 20px;
      color: $Grayish-Blue;
    }
  }
  .articles p {
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1.3;
  }
  .articles p:last-of-type {
    margin-bottom: 20px;
    padding-bottom: 30px;
    @include mq-tablet {
      font-size: 15px;
      margin-bottom: 0px;
    }
  }
  .articles .bold-text {
    font-weight: 400;
    color: $Dark-Blue;
    font-size: 15px;
    color: $Dark-Blue;
    line-height: 1.3;
    transition: $transition-main;
    cursor: pointer;
    @include mq-tablet {
      font-size: 18px;
    }
    &:hover {
      color: $Lime-Green;
    }
  }
}
