// Flex Mixins
@mixin flex-c {
  display: flex;
  align-items: center;
}
@mixin flex-c-jcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-c-jcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Break-Point-Mixin
@mixin mq-tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}
@mixin mq-desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
// Break-Point-Mixin-Only-For-Mobile-Use

@mixin mq-mobile-only {
  @media screen and (max-width: $tablet) {
    @content;
  }
}
