$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);
$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

$tablet: 47rem;
$desktop: 89rem;
$transition-main: all 300ms ease-in-out;

//
p {
  color: $Grayish-Blue;
  font-size: 16px;
}
h1,
h2,
h3,
h4 {
  line-height: 1;
  opacity: 0.7;
  font-weight: 300;
}

//
.btn {
  background: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
  color: $White;
  border-radius: 100vmax;
  padding: 0.6rem 1.5rem;
  font-weight: 700;
  transition: $transition-main;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-block: 3rem;
  padding-inline: 20px;
}
