@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: none;
  background: transparent;
}

img,
picture,
svg {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

p {
  color: hsl(233deg, 8%, 62%);
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  opacity: 0.7;
  font-weight: 300;
}

.btn {
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  color: hsl(0deg, 0%, 100%);
  border-radius: 100vmax;
  padding: 0.6rem 1.5rem;
  font-weight: 700;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-block: 3rem;
  padding-inline: 20px;
}

.nav-header {
  max-width: 1200px;
  margin: auto;
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-header .menuIcon {
  z-index: 10;
  position: relative;
  cursor: pointer;
  margin-left: auto;
}
@media screen and (min-width: 47rem) {
  .nav-header .menuIcon {
    display: none;
  }
}
.nav-header .main-nav {
  display: flex;
  align-items: center;
}
.nav-header .main-nav .link {
  color: hsl(233deg, 8%, 62%);
  transition: all 300ms ease-in-out;
  font-size: 1rem;
}
.nav-header .main-nav .link:hover {
  color: hsl(233deg, 26%, 24%);
}
@media screen and (min-width: 47rem) {
  .nav-header .main-nav .link {
    position: relative;
    transition: all 300ms ease-in-out;
  }
  .nav-header .main-nav .link:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 46px;
    left: 0;
    display: block;
    background-color: hsl(136deg, 65%, 51%);
  }
}
.nav-header .main-nav .links-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 47rem) {
  .nav-header .main-nav .links-wrapper {
    padding: 20px;
    display: block;
    position: absolute;
    top: 1rem;
    left: 20px;
    right: 20px;
    text-align: center;
    background-color: hsl(0deg, 0%, 100%);
  }
  .nav-header .main-nav .links-wrapper .link {
    padding: 8px;
    color: hsl(233deg, 26%, 24%);
  }
  .nav-header .main-nav .links-wrapper .link:hover, .nav-header .main-nav .links-wrapper .link:focus {
    opacity: 0.9;
    transform: scale(1.1);
  }
}
@media screen and (max-width: 47rem) {
  .nav-header .primaryBtn {
    display: none;
  }
}

@media screen and (max-width: 47rem) {
  .links-container {
    transition: all 300ms ease-in-out;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.494), rgba(255, 255, 255, 0.409));
    position: absolute;
    top: 3.6rem;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    z-index: 100;
  }
}

.menuIcon[aria-expanded=true] + .main-nav .links-container {
  max-height: 800px;
}

.hero {
  background-color: hsl(0deg, 0%, 98%);
  overflow: hidden;
}
.hero .container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 0;
}
@media screen and (min-width: 47rem) {
  .hero .container {
    display: flex;
    align-items: center;
  }
}
.hero .container .illustration-mockups {
  overflow: hidden;
  position: relative;
  max-height: 955px;
  margin-top: -50px;
}
@media screen and (min-width: 47rem) {
  .hero .container .illustration-mockups {
    order: 2;
    flex: 4;
    margin-right: -300px;
    margin-top: -250px;
    height: 985px;
  }
}
.hero .container .mockups {
  position: absolute;
  top: -50px;
  width: 90%;
  bottom: 0;
  right: 20px;
}
@media screen and (min-width: 47rem) {
  .hero .container .mockups {
    width: 80%;
    right: 50px;
    top: 50px;
  }
}

.hero-info {
  margin-top: -80px;
  text-align: center;
  padding: 20px;
}
@media screen and (min-width: 47rem) {
  .hero-info {
    flex: 2;
    text-align: left;
  }
}
.hero-info h1 {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.1;
}
@media screen and (min-width: 47rem) {
  .hero-info h1 {
    font-size: 55px;
  }
}
.hero-info p {
  padding-block: 20px;
  font-size: 14px;
}
@media screen and (min-width: 47rem) {
  .hero-info p {
    font-size: 19px;
  }
}
.hero-info button {
  margin-top: 10px;
}

.service {
  background-color: hsl(220deg, 16%, 96%);
  text-align: center;
}
@media screen and (min-width: 47rem) {
  .service {
    margin-top: -135px;
    text-align: left;
  }
}
.service header {
  max-width: 550px;
}
.service h2 {
  font-size: 2rem;
  line-height: 1;
}
.service p {
  padding-block: 20px;
}
.service .service-info {
  padding-top: 20px;
}
.service .service-info img {
  padding-block: 20px;
}
@media screen and (min-width: 47rem) {
  .service .service-info {
    display: flex;
    gap: 24px;
  }
}

.latest-article {
  background-color: hsl(0deg, 0%, 98%);
  padding: 30px 20px;
}
.latest-article h2 {
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 47rem) {
  .latest-article h2 {
    text-align: left;
  }
}
@media screen and (min-width: 47rem) {
  .latest-article .article-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
  }
}
.latest-article .articles {
  background-color: white;
}
.latest-article .articles figure img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.latest-article .articles figcaption {
  font-size: 12px;
  padding: 20px 20px 5px 20px;
  color: hsl(233deg, 8%, 62%);
}
.latest-article .articles p {
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1.3;
}
.latest-article .articles p:last-of-type {
  margin-bottom: 20px;
  padding-bottom: 30px;
}
@media screen and (min-width: 47rem) {
  .latest-article .articles p:last-of-type {
    font-size: 15px;
    margin-bottom: 0px;
  }
}
.latest-article .articles .bold-text {
  font-weight: 400;
  color: hsl(233deg, 26%, 24%);
  font-size: 15px;
  color: hsl(233deg, 26%, 24%);
  line-height: 1.3;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
@media screen and (min-width: 47rem) {
  .latest-article .articles .bold-text {
    font-size: 18px;
  }
}
.latest-article .articles .bold-text:hover {
  color: hsl(136deg, 65%, 51%);
}

footer {
  background-color: hsl(233deg, 26%, 24%);
  color: hsl(0deg, 0%, 98%);
  text-align: center;
}
@media screen and (min-width: 47rem) {
  footer {
    text-align: left;
  }
}
@media screen and (min-width: 47rem) {
  footer .footer-info {
    display: flex;
    justify-content: space-between;
    gap: 150px;
  }
}
footer .footer-info > * {
  padding-block: 10px;
}
footer .footer-info .logo-footer {
  filter: brightness(0.1) invert(1);
}
footer .footer-info .social-icon {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding-top: 20px;
  cursor: pointer;
}
footer .footer-info .footer-links {
  opacity: 0.7;
}
footer .footer-info .footer-links a:hover {
  transition: color 300ms ease;
  color: hsl(136deg, 65%, 51%);
}
@media screen and (min-width: 47rem) {
  footer .footer-info .footer-links {
    display: flex;
    align-items: center;
    gap: 150px;
  }
}
footer .footer-info .footer-links .even {
  display: grid;
  gap: 10px;
}
footer .footer-info .footer-btn {
  margin-left: auto;
}
@media screen and (min-width: 47rem) {
  footer .footer-info .footer-btn {
    text-align: right;
  }
}
footer .footer-info .footer-btn p {
  padding-block: 20px;
}/*# sourceMappingURL=globals.css.map */